In [1]:
import pandas as pd
import glob
import os
import numpy as np
import matplotlib.pyplot as plt

In [2]:
master_df = pd.read_csv('Master_wine.csv')

In [3]:
master_df

,alcohol,category,country,description,designation,price,rating,region,subregion,subsubregion,title,url,varietal,vintage,winery
0,14.0,Red,Spain,"Seductive like a trap, meaning the nose is lus...",NaN,36.0,87,Northern Spain,Ribera del Duero,NaN,Arrocal 2004 Ribera del Duero,https://www.winemag.com/buying-guide/arrocal-2...,Tempranillo,2004.0,Arrocal
1,14.8,Red,US,The vineyard is on Atlas Peak. Modern winemaki...,Mountainside Vineyards,50.0,87,California,Napa,Napa Valley,Erba 2003 Mountainside Vineyards Cabernet Sauv...,https://www.winemag.com/buying-guide/erba-2003...,Cabernet Sauvignon,2003.0,Erba
2,NaN,Red,US,"Has true varietal spice, something we don't al...",Limited Release Stepmaker's,14.0,87,California,Central Coast,Central Coast,Concannon 2004 Limited Release Stepmaker's Syr...,https://www.winemag.com/buying-guide/concannon...,Syrah,2004.0,Concannon
3,13.5,Red,Spain,is a nice wine that's at peak maturity. The no...,Reserva,26.0,87,Northern Spain,Ribera del Duero,NaN,San Gabriel 2001 Reserva (Ribera del Duero),https://www.winemag.com/buying-guide/san-gabri...,Tempranillo,2001.0,San Gabriel
4,14.5,Red,Spain,"Alongside open, hefty berry aromas are bramble...",Vendimia Seleccionada,21.0,87,Northern Spain,Ribera del Duero,NaN,Casajús 2005 Vendimia Seleccionada (Ribera de...,https://www.winemag.com/buying-guide/casajus-2...,Tempranillo,2005.0,Casajús
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248353,13.0,White,France,"Rich and creamy, this is a delicious, ripe, an...",Domaine de la Charmoise,15.0,89,Loire Valley,Touraine,NaN,Henry Marionnet 2016 Domaine de la Charmoise S...,https://www.winemag.com/buying-guide/henry-mar...,Sauvignon Blanc,2016.0,Henry Marionnet
248354,12.0,Sparkling,France,"Pale, almost Provence rosé in color, this frui...",Brut Rosé,45.0,89,Champagne,Champagne,NaN,Henri Abelé NV Brut Rosé (Champagne),https://www.winemag.com/buying-guide/henri-abe...,Champagne Blend,NaN,Henri Abelé
248355,11.0,Sparkling,Italy,"Silky and fresh, this bright sparkler delivers...",Rustico Brut,19.0,89,Veneto,Valdobbiadene Prosecco Superiore,NaN,Nino Franco NV Rustico Brut (Valdobbiadene Pr...,https://www.winemag.com/buying-guide/nino-fran...,Glera,NaN,Nino Franco
248356,12.0,Sparkling,France,Drier than it used to be—and better for it—thi...,Rosé Impérial,50.0,89,Champagne,Champagne,NaN,Moët &amp; Chandon NV Rosé Impérial (Champagne),https://www.winemag.com/buying-guide/moet-chan...,Champagne Blend,NaN,Moët &amp; Chandon
248357,13.6,Red,US,"The vineyard lies in the Van Duzer corridor, a...",Havlin Vineyard,35.0,89,Oregon,Willamette Valley,Willamette Valley,Martin Woods 2016 Havlin Vineyard Gamay (Willa...,https://www.winemag.com/buying-guide/martin-wo...,Gamay,2016.0,Martin Woods

In [4]:
#drop colummns 

master_df = master_df.drop(['description', 'designation','subregion',"subsubregion","title",'url','winery'], axis = 1)

In [5]:
master_df

,alcohol,category,country,price,rating,region,varietal,vintage
0,14.0,Red,Spain,36.0,87,Northern Spain,Tempranillo,2004.0
1,14.8,Red,US,50.0,87,California,Cabernet Sauvignon,2003.0
2,NaN,Red,US,14.0,87,California,Syrah,2004.0
3,13.5,Red,Spain,26.0,87,Northern Spain,Tempranillo,2001.0
4,14.5,Red,Spain,21.0,87,Northern Spain,Tempranillo,2005.0
...,...,...,...,...,...,...,...,...
248353,13.0,White,France,15.0,89,Loire Valley,Sauvignon Blanc,2016.0
248354,12.0,Sparkling,France,45.0,89,Champagne,Champagne Blend,NaN
248355,11.0,Sparkling,Italy,19.0,89,Veneto,Glera,NaN
248356,12.0,Sparkling,France,50.0,89,Champagne,Champagne Blend,NaN
248357,13.6,Red,US,35.0,89,Oregon,Gamay,2016.0

In [6]:
#Filter by Country // We only need Portugal

master_df = master_df.query("country == 'Portugal'")

In [7]:
master_df

,alcohol,category,country,price,rating,region,varietal,vintage
1419,20.0,Port/Sherry,Portugal,27.0,83,Douro,Port,NaN
1573,NaN,Red,Portugal,15.0,91,Dão,Portuguese Red,2003.0
1619,NaN,Red,Portugal,NaN,91,Douro,Portuguese Red,2001.0
1630,14.5,Red,Portugal,58.0,91,Alentejano,Portuguese Red,2003.0
1651,14.5,Red,Portugal,90.0,92,Alentejano,Portuguese Red,2004.0
...,...,...,...,...,...,...,...,...
247216,12.5,Rose,Portugal,9.0,84,Vinho Verde,Rosé,2016.0
247228,13.0,Red,Portugal,18.0,84,Lisboa,Portuguese Red,2016.0
247230,14.0,Red,Portugal,NaN,84,Península de Setúbal,Portuguese Red,2016.0
247231,9.5,White,Portugal,8.0,84,Vinho Verde,Portuguese White,NaN
247234,12.5,Sparkling,Portugal,16.0,85,Bairrada,Portuguese Sparkling,2015.0

In [8]:
master_df = master_df.query("category == 'Red'")

master_df

master_df

In [9]:
master_df

,alcohol,category,country,price,rating,region,varietal,vintage
1573,NaN,Red,Portugal,15.0,91,Dão,Portuguese Red,2003.0
1619,NaN,Red,Portugal,NaN,91,Douro,Portuguese Red,2001.0
1630,14.5,Red,Portugal,58.0,91,Alentejano,Portuguese Red,2003.0
1651,14.5,Red,Portugal,90.0,92,Alentejano,Portuguese Red,2004.0
1667,15.0,Red,Portugal,NaN,93,Douro,Portuguese Red,2004.0
...,...,...,...,...,...,...,...,...
247175,14.5,Red,Portugal,15.0,84,Douro,Touriga Franca,2015.0
247177,14.0,Red,Portugal,9.0,84,Península de Setúbal,Portuguese Red,2016.0
247214,13.0,Red,Portugal,25.0,84,Tejo,Touriga Nacional,2015.0
247228,13.0,Red,Portugal,18.0,84,Lisboa,Portuguese Red,2016.0
247230,14.0,Red,Portugal,NaN,84,Península de Setúbal,Portuguese Red,2016.0

# drop NA values for alcohol & rating

red_winedf = master_df.dropna(subset=['alcohol', 'rating'])

In [10]:
#drop NA values for alcohol & rating

red_winedf = master_df.dropna(subset=['alcohol', 'rating', 'price'])

In [11]:
red_winedf
red_winedf.describe()
red_winedf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3928 entries, 1630 to 247228
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   alcohol   3928 non-null   float64
 1   category  3928 non-null   object
 2   country   3928 non-null   object
 3   price     3928 non-null   float64
 4   rating    3928 non-null   int64
 5   region    3928 non-null   object
 6   varietal  3928 non-null   object
 7   vintage   3922 non-null   float64
dtypes: float64(3), int64(1), object(4)
memory usage: 276.2+ KB

In [12]:
red_winedf.to_csv('Portuguesereds.csv', index=False)

In [13]:
red_winedf['alcohol'].describe()

count    3928.000000
mean       13.856823
std         3.007878
min         3.000000
25%        13.500000
50%        14.000000
75%        14.000000
max        91.000000
Name: alcohol, dtype: float64

In [14]:
red_winedf['rating'].describe()

count    3928.000000
mean       88.885947
std         2.914052
min        80.000000
25%        87.000000
50%        89.000000
75%        91.000000
max       100.000000
Name: rating, dtype: float64

In [15]:
red_winedf['price'].describe()

count    3928.000000
mean       25.293406
std        25.758343
min         4.000000
25%        12.000000
50%        18.000000
75%        30.000000
max       550.000000
Name: price, dtype: float64